{{define "head"}}
    <title>List of available lots</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript">
        function WebSocketUpdateLots() {
            if ("WebSocket" in window) {
                let ws = new WebSocket("ws://localhost:8080/v1/auction/ws");
                ws.onmessage = function (evt) {
                    let received_msg = JSON.parse(evt.data);
                    if (received_msg.Req === "lot_update") {
                        document.getElementById("title_" + received_msg.LotIDStr).innerHTML = received_msg.Lot.title;
                        document.getElementById("price_" + received_msg.LotIDStr).innerHTML = received_msg.Lot.current_price;
                        if (received_msg.Lot.status === "created") {
                            document.getElementById("status_" + received_msg.LotIDStr).innerHTML = "<b><span style=\"color:yellow;\">Created</span></b>";
                        } else if (received_msg.Lot.status === "active") {
                            document.getElementById("status_" + received_msg.LotIDStr).innerHTML = "<b><span style=\"color:green;\">Active</span></b>";
                        } else {
                            document.getElementById("status_" + received_msg.LotIDStr).innerHTML = "<b><span style=\"color:red;\">Finished</span></b>";
                        }

                        /*let lotJSON = received_msg.Lot;
                        let newWindow = window.open("about:blank");
                        newWindow.document.write("<pre>" + JSON.stringify(lotJSON, null, 4) + "</pre>");*/
                    } else if (received_msg.Req === "lot_create") {
                        let tableRef = document.getElementById("table_lots").getElementsByTagName("tbody")[0];
                        let newRow = tableRef.insertRow(1);

                        let cell0 = newRow.insertCell(0);
                        cell0.appendChild(document.createTextNode("0"));
                        for (let i = 1; i < tableRef.rows.length; i++) {
                            let elements = tableRef.rows[i].cells[0].getElementsByTagName("b");
                            if (elements.length === 0) {
                                tableRef.rows[i].cells[0].innerHTML = (i - 1) + "";
                            } else {
                                tableRef.rows[i].cells[0].innerHTML = "<b><span style=\"color:blue;\">" + (i - 1) + "</span></b>";
                            }
                        }

                        let cell1 = newRow.insertCell(1);
                        let aTag = document.createElement("a");
                        aTag.id = "title_" + received_msg.LotIDStr;
                        aTag.href = "/v1/auction/lots/" + received_msg.LotIDStr;
                        aTag.innerHTML = received_msg.Lot.title;
                        cell1.appendChild(aTag);

                        let cell2 = newRow.insertCell(2);
                        cell2.id = "price_" + received_msg.LotIDStr;
                        cell2.appendChild(document.createTextNode(received_msg.Lot.current_price));

                        let cell3 = newRow.insertCell(3);
                        cell3.id = "status_" + received_msg.LotIDStr;
                        cell3.innerHTML = "<b><span style=\"color:yellow;\">Created</span></b>";
                    } else if (received_msg.Req === "lot_buy") {
                        document.getElementById("price_" + received_msg.LotIDStr).innerHTML = received_msg.Lot.current_price;
                    } else if (received_msg.Req === "lot_delete") {
                        document.getElementById("status_" + received_msg.LotIDStr).innerHTML = "<b><span style=\"color:red;\">Finished</span></b>";
                    }

                    let lotJSON = received_msg.Lot;
                    document.getElementById("lot_json").innerHTML = "<pre>" + JSON.stringify(lotJSON, null, 4) + "</pre>";
                };
            } else {
                alert("WebSocket is not supported in your browser");
            }
        }

        WebSocketUpdateLots();
    </script>
{{end}}
{{define "body"}}
    <h1>Lots</h1>
    <p><a href="/v1/auction/lots/create">Create lot</a></p>
    <br>
    <p><a href="/v1/auction/lots?status=active">Show active lots</a></p>
    <p><a href="/v1/auction/lots?status=created">Show created lots</a></p>
    <p><a href="/v1/auction/lots?status=finished">Show finished lots</a></p>
    <p><a href="/v1/auction/lots/">Show all lots</a></p>
    <br>
    <table id="table_lots" border="1">
        <tr>
            <th>Lot number</th>
            <th>Title</th>
            <th>Current Price</th>
            <th>Availability</th>
        </tr>
        {{range $key,$value := .Lots }}
            {{if or (eq $.Status "") (eq $.Status $value.Status)}}
                <tr>
                    <td>
                        {{if $value.IsCreator $.UserID}}
                            <b><span style="color: blue">{{$key}}</span></b>
                        {{else}}
                            {{$key}}
                        {{end}}
                    </td>
                    <td>
                        <a id="title_{{$value.LotID}}" href="/v1/auction/lots/{{$value.LotID}}">{{$value.Title}}</a>
                    </td>
                    <td id="price_{{$value.LotID}}">{{$value.CurrentPrice}}</td>
                    <td id="status_{{$value.LotID}}">
                        {{if eq $value.Status "created"}}
                            <b><span style="color:yellow;">Created</span></b>
                        {{else if eq $value.Status "active"}}
                            <b><span style="color:green;">Active</span></b>
                        {{else}}
                            <b><span style="color:red;">Finished</span></b>
                        {{end}}
                    </td>
                </tr>
            {{end}}
        {{end}}
    </table>
    <br><br>
    <p id="lot_json"></p>
{{end}}
