{{define "head"}}
    <title>Create lot</title>
    <script type="text/javascript">
        function validateForm() {
            return document.getElementById("price").value % document.getElementById("price_step").value === 0;
        }

        function isInvalidInput() {
            if (validateForm()) {
                return true;
            } else {
                alert("Invalid input!");
                document.getElementById("price_step").focus();
                return false;
            }
        }
    </script>
{{end}}
{{define "body"}}
    <form action="/v1/auction/lots" method="post" onsubmit="return isInvalidInput();">
        <fieldset>
            <legend>Create lot</legend>
            <p>
                <label>Title <em>*</em></label>
                <input id="title" type="text" name="title" required>
            </p>
            <p>
                <label>Description</label>
                <input id="description" type="text" name="description">
            </p>
            <p>
                <label>Start price <em>*</em></label>
                <input id="price" type="number" step="0.001" min="0" name="price" required>
            </p>
            <p>
                <label>Price step<em>*</em></label>
                <input id="price_step" type="number" step="0.001" name="price_step" required>
            </p>
            <p>
                <input type="Submit" value="submit">
            </p>
        </fieldset>
    </form>
{{end}}
