{{define "head"}}
    <title>Lot information</title>
    <script type="text/javascript">
        function WebSocketUpdateLot() {
            if ("WebSocket" in window) {
                let ws = new WebSocket("ws://localhost:8080/v1/auction/ws");
                ws.onmessage = function (evt) {
                    let received_msg = JSON.parse(evt.data);
                    if (received_msg.Req === "lot_update") {
                        document.getElementById("title").innerHTML = received_msg.Lot.title;
                        document.getElementById("price").innerHTML = received_msg.Lot.current_price;
                        let inner = "";
                        if (received_msg.Lot.status === "created") {
                            inner = "<b><span style=\"color:yellow;\">Created</span></b><br>";
                            let userID = {{toString .UserID}};
                            if (received_msg.CreatorIDStr === userID) {
                                inner += "<a href=\"/v1/auction/lots/" + received_msg.LotIDStr + "/update\">Update lot</a>";
                            } else {
                                inner += "<span style=\"color:gray\">Buy</span><br>Lot is not traded"
                            }
                        } else if (received_msg.Lot.status === "active") {
                            inner = "<b><span style=\"color:green;\">Active</span></b><br>";
                            let userID = {{toString .UserID}};
                            if (received_msg.CreatorIDStr === userID) {
                                inner += "<a href=\"/v1/auction/lots/" + received_msg.LotIDStr + "/update\">Update lot</a>";
                            } else if (received_msg.BuyerIDStr === userID) {
                                inner += "<span style=\"color:gray\">Buy</span><br>You are already bargaining"
                            } else {
                                inner += "<a href=\"/v1/auction/lots/" + received_msg.LotIDStr + "/buy\">Buy</a>"
                            }
                        } else {
                            inner = "<b><span style=\"color:red;\">Finished</span></b>";
                        }
                        document.getElementById("status").innerHTML = inner;
                    } else if (received_msg.Req === "lot_buy") {
                        document.getElementById("buyer_id").innerHTML = received_msg.BuyerIDStr;
                        document.getElementById("price").innerHTML = received_msg.Lot.current_price;
                        let userID = {{toString .UserID}};
                        if (received_msg.BuyerIDStr === userID) {
                            document.getElementById("status").innerHTML = "<span style=\"color:gray\">Buy</span><br>You are already bargaining"
                        }
                    } else if (received_msg.Req === "lot_delete") {
                        document.getElementById("status").innerHTML = "<b><span style=\"color:red;\">Finished</span></b>";
                    }

                    let lotJSON = received_msg.Lot;
                    document.getElementById("lot_json").innerHTML = "<pre>" + JSON.stringify(lotJSON, null, 4) + "</pre>";
                };
            } else {
                alert("WebSocket is not supported in your browser");
            }
        }

        WebSocketUpdateLot();
    </script>
{{end}}
{{define "body"}}
    {{$lot := .L}}
    <h1>Lot information</h1>
    <br>
    <p>Lot ID:<br> <b>{{$lot.LotID}}</b></p>
    <p>Creator ID:<br> <b id="creator_id">{{$lot.CreatorID}}</b></p>
    <p>Buyer ID:<br> <b id="buyer_id">{{$lot.BuyerID}}</b></p>
    <p>Title:<br> <b id="title">{{$lot.Title}}</b></p>
    <p>Description:<br> <b id="description">{{$lot.Description}}</b></p>
    <p>Price step:<br> <b id="price_step">{{$lot.PriceStep}}</b></p>
    <p>Current price:<br> <b id="price">{{$lot.CurrentPrice}}</b></p>
    <p>Date of creation:<br> <b>{{$lot.CreatedAt}}</b></p>
    <p id="status">
    {{if eq $lot.Status "created"}}
        <b><span style="color:yellow;">Created</span></b>
        <br>
        {{if $lot.IsCreator .UserID}}
            <a href="/v1/auction/lots/{{$lot.LotID}}/update">Update lot</a>
        {{else}}
            <span style="color:gray">Buy</span>
            <br>
            Lot is not traded
        {{end}}
    {{else if eq $lot.Status "active"}}
        <b><span style="color:green;">Active</span></b>
        <br>
        {{if $lot.IsCreator .UserID}}
            <a href="/v1/auction/lots/{{$lot.LotID}}/update">Update lot</a>
        {{else if $lot.IsBuyer .UserID}}
            <span style="color:gray">Buy</span>
            <br>
            You are already bargaining
        {{else}}
            <a href="/v1/auction/lots/{{$lot.LotID}}/buy">Buy</a>
        {{end}}
    {{else}}
        <b><span style="color:red;">Finished</span></b>
        <br>
    {{end}}
    </p>
    <a href="/v1/auction/lots/">Show all lots</a>
    <br><br><br>
    <p id="lot_json"></p>
{{end}}
