{{define "head"}}
    <title>Update lot price</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript">
        function validateForm() {
            return document.getElementById("price").value % document.getElementById("price_step").value === 0;
        }

        function ajax_put_request_update() {
            let data = "title=" + $('#title').val() +
                "&description=" + $('#description').val() +
                "&price=" + $('#price').val() +
                "&price_step=" + $('#price_step').val() +
                "&status=" + $('#status').val();
            $.ajax({
                url: '/v1/auction/lots/{{.LotID}}',
                type: 'PUT',
                data: data,
                async: true,
            });
        }

        function isInvalidInput() {
            if (validateForm()) {
                ajax_put_request_update();
                $(document).ajaxStop(function () {
                    window.location.pathname = '/v1/auction/lots'
                });
            } else {
                alert("Invalid input!");
            }
        }

        function ajax_delete_request() {
            $.ajax({
                url: '/v1/auction/lots/{{.LotID}}',
                type: 'DELETE',
                data: null,
                async: true,
            });
        }

        function deleteLot() {
            let status = $('#status').val();
            if (status === "created") {
                ajax_delete_request();
                $(document).ajaxStop(function () {
                    window.location.pathname = '/v1/auction/lots/{{.LotID}}'
                });
            } else {
                alert("Can't delete active lot!");
            }
        }
    </script>
{{end}}
{{define "body"}}
    <h1>Update lot</h1>
    <p>Title:<br> <input id="title" type="text" value="{{.Title}}" name="title"></p>
    <p>Description:<br> <input id="description" type="text" value="{{.Description}}" name="description"></p>
    <p>Price:<br> <input id="price" type="number" value="{{.CurrentPrice}}" name="price"></p>
    <p>Step price:<br> <input id="price_step" type="number" value="{{.PriceStep}}" name="price_step"></p>
    <p>Lot status:<br>
        <select id="status">
            <option value="created">Cancel auction</option>
            <option value="active">Start auction</option>
        </select>
    </p>
    <p><input type="button" value="Save changes" onclick="return isInvalidInput();"/></p>
    <br>
    <p><input type="button" value="Delete lot" onclick="return deleteLot();"/></p>
{{end}}
