{{define "head"}}
    <title>My lots</title>
{{end}}
{{define "body"}}
    <h1>My Lots</h1>
        <a href="/v1/auction/users/0/lots?type=own">Show own lots</a>
        <br>
        <a href="/v1/auction/users/0/lots?type=buyed">Show buyed lots</a>
        <br>
        <a href="/v1/auction/users/0/lots">Show all my lots</a>
        <br>
        <br>
    <div>
        <table border="1">
            <tr>
                <th>Lot number</th>
                <th>Title</th>
                <th>Current Price</th>
                <th>Availability</th>
            </tr>
            {{if eq $.TypeLots ""}}
                {{range $key,$value := .Lots}}
                    {{if or ($value.IsCreator $.UserID) ($value.IsBuyer $.UserID)}}
                        <tr>
                            <td>
                                {{if $value.IsCreator $.UserID}}
                                    <b><span style="color: blue">{{$key}}</span></b>
                                {{else}}
                                    {{$key}}
                                {{end}}
                            </td>
                            <td>
                                <a id="title" href="/v1/auction/lots/{{$value.LotID}}">{{$value.Title}}</a>
                            </td>
                            <td id="price">{{$value.CurrentPrice}}</td>
                            <td id="status">
                                {{if eq $value.Status "created"}}
                                    <b><span style="color:yellow;">Created</span></b>
                                {{else if eq $value.Status "active"}}
                                    <b><span style="color:green;">Active</span></b>
                                {{else}}
                                    <b><span style="color:red;">Finished</span></b>
                                {{end}}
                            </td>
                        </tr>
                    {{end}}
                {{end}}
            {{else if eq $.TypeLots "own"}}
                {{range $key,$value := .Lots}}
                    {{if $value.IsCreator $.UserID}}
                        <tr>
                            <td>
                                <b><span style="color: blue">{{$key}}</span></b>
                            </td>
                            <td>
                                <a id="title" href="/v1/auction/lots/{{$value.LotID}}">{{$value.Title}}</a>
                            </td>
                            <td id="price">{{$value.CurrentPrice}}</td>
                            <td id="status">
                                {{if eq $value.Status "created"}}
                                    <b><span style="color:yellow;">Created</span></b>
                                {{else if eq $value.Status "active"}}
                                    <b><span style="color:green;">Active</span></b>
                                {{else}}
                                    <b><span style="color:red;">Finished</span></b>
                                {{end}}
                            </td>
                        </tr>
                    {{end}}
                {{end}}
            {{else}}
                {{range $key,$value := .Lots}}
                    {{if $value.IsBuyer $.UserID}}
                        <tr>
                            <td>
                                {{$key}}
                            </td>
                            <td>
                                <a id="title" href="/v1/auction/lots/{{$value.LotID}}">{{$value.Title}}</a>
                            </td>
                            <td id="price">{{$value.CurrentPrice}}</td>
                            <td id="status">
                                {{if eq $value.Status "created"}}
                                    <b><span style="color:yellow;">Created</span></b>
                                {{else if eq $value.Status "active"}}
                                    <b><span style="color:green;">Active</span></b>
                                {{else}}
                                    <b><span style="color:red;">Finished</span></b>
                                {{end}}
                            </td>
                        </tr>
                    {{end}}
                {{end}}
            {{end}}
        </table>
    </div>
    <br>
    <a href="/v1/auction/users/0/lots/json">Show lots in JSON format</a>
{{end}}
