{{define "head"}}
    <title>Main page</title>
{{end}}
{{define "body"}}
    <br>
    <p>
        <a href="/v1/auction/sign_up">Sign up</a>
    </p>
    <p>
        <a href="/v1/auction/sign_in">Sign in</a>
    </p>
{{end}}
