{{define "head"}}
    <title>Set lot price</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript">
        function ajax_put_request_set_price() {
            let data = "price=" + $('#price').val();
            $.ajax({
                url: '/v1/auction/lots/{{.LotID}}/buy',
                type: 'PUT',
                data: data,
                async: true,
            });

            window.location.pathname = '/v1/auction/lots/{{.LotID}}';
        }
    </script>
{{end}}
{{define "body"}}
    <h1>Set new price</h1>
    <p><b>New price:</b></p>
    <p><input id="price" type="number" value="{{addStep .CurrentPrice .PriceStep}}" name="price"
              min="{{addStep .CurrentPrice .PriceStep}}" step="{{.PriceStep}}"></p>
    <p><input id="button" type="button" value="Set" onclick="ajax_put_request_set_price();"/></p>
{{end}}
