{{define "head"}}
    <title>Sign in</title>
{{end}}
{{define "body"}}
    <form action="/v1/auction/sign_in" method="post">
        <fieldset>
            <legend>Sign in</legend>
            <p>
                <label>Email <em>*</em></label>
                <input type="text" name="email" required>
            </p>
            <p>
                <label>Password <em>*</em></label>
                <input type="password" name="password" required>
            </p>
            <p>
                <input type="submit" value="submit">
            </p>
        </fieldset>
    </form>
{{end}}