{{define "head"}}
    <title>Sign up</title>
{{end}}
{{define "body"}}
    <form action="/v1/auction/sign_up" method="post">
        <fieldset>
            <legend>Sign up</legend>
            <p>
                <label>Name <em>*</em></label>
                <input type="text" name="first_name" required>
            </p>
            <p>
                <label>Surname <em>*</em></label>
                <input type="text" name="last_name" required>
            </p>
            <p>
                <label>Birthday</label>
                <input type="date" name="birthday" value="00-00-0000">
            </p>
            <p>
                <label>Email <em>*</em></label>
                <input type="text" name="email" required>
            </p>
            <p>
                <label>Password <em>*</em></label>
                <input type="password" name="password" required>
            </p>
            <p>
                <input type="submit" value="submit">
            </p>
        </fieldset>
    </form>
{{end}}
