{{define "head"}}
    <title>Update lot price</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript">
        function ajax_put_request_user_update() {
            let data = "first_name=" + $('#first_name').val() +
                "&last_name=" + $('#last_name').val() +
                "&birthday=" + $('#birthday').val();
            $.ajax({
                url: '/v1/auction/users/0',
                type: 'PUT',
                data: data,
                async: true,
            });

            window.location.pathname = '/v1/auction/users/0';
        }
    </script>
{{end}}
{{define "body"}}
    <h1>User update</h1>
    <p>First name:<br> <input id="first_name" type="text" value="{{.FirstName}}" name="first_name"></p>
    <p>Last name:<br> <input id="last_name" type="text" value="{{.LastName}}" name="last_name"></p>
    <p>Birthday:<br> <input id="birthday" type="date" value="{{toBirthday .Birthday}}" name="birthday"></p>
    <p><input id="button" type="button" value="Save changes" onclick="ajax_put_request_user_update();"/></p>
{{end}}
