{{define "head"}}
    <title>User information</title>
{{end}}
{{define "body"}}
    {{$user := .User}}
    {{if .IsCurrentUser}}
        <h1>My information</h1>
        <br>
        <p>My ID:<br> <b>{{$user.ID}}</b></p>
        <p>First name:<br> <b>{{$user.FirstName}}</b></p>
        <p>Last name:<br> <b>{{$user.LastName}}</b></p>
        <p>Birthday:<br> <b>{{toBirthday $user.Birthday}}</b></p>
        <p>Email:<br> <b>{{$user.Email}}</b></p>
        <p>My lots:<br> <b><a href="/v1/auction/users/0/lots">See my lots</a></b></p>
        <p>Date of creation:<br> {{$user.CreatedAt}}</p>
        <br>
        <a href="/v1/auction/users/0/update">Update my information</a>
    {{else}}
        <h1>User information</h1>
        <br>
        <p>User ID:<br> <b>{{$user.ID}}</b></p>
        <p>First name:<br> <b>{{$user.FirstName}}</b></p>
        <p>Last name:<br> <b>{{$user.LastName}}</b></p>
        <p>Date of creation:<br> {{$user.CreatedAt}}</p>
    {{end}}
    <br>
    <br>
    <a href="/v1/auction/lots/">Show all lots</a>
{{end}}
